@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{
    --primary-color: ghostwhite;
    --secondary-color: #DD6411;
    --panel-color: oldlace;
    --navbar-color: linear-gradient(-45deg, #f85504 10%, #fc8839 60%, #ffbb6d 90%);
    --text-color: #000;
    --border-color: #ffbb6d;

    --btn1-color: #ffbb6d;
    --btn1-hover-color: #f85504;
    --btn2-color: #ff744f;
    --btn2-hover-color: #ed3b20;
    --btn3-color: #8ef8ff;
    --btn3-hover-color: #0794a8;
}

body {
    min-height: 100vh;
    background: var(--primary-color);
}

body.dark {
    --primary-color: #000;
    --navbar-color: linear-gradient(-45deg, #ffbb6d 10%, #fc8839 60%, #f85504 90%);
    --text-color: #fff;
    --border-color: #ffbb6d;

    --btn1-color: #f85504;
    --btn1-hover-color: #ffbb6d;
    --btn2-color: #ed3b20;
    --btn2-hover-color: #ff744f;
    --btn3-color: #0794a8;
    --btn3-hover-color: #8ef8ff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 10px;
    background: var(--navbar-color);
    border-right: 2px solid var(--border-color);
    transition: all 0.5s ease;
}

nav.close {
    width: 73px;
}

nav .logo-details {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 50px;
}

nav .logo-image img {
    color: ghostwhite;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-details .logo-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    color: var(--text-color);
}

nav.close .logo-details .logo-name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 25px;
    height: calc(100% - 90px);
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav.close .menu-items {
    width: 63px;
}

.menu-items .link {
    list-style: none;
}

.menu-items .link a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.menu-items .link a:hover {
    background: var(--primary-color);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.menu-items .link:hover a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--primary-color);
    pointer-events: none;
}

nav.close .menu-items .link:hover a::before {
    background-color: transparent;
    pointer-events: none;
}

.menu-items .link:hover a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--primary-color);
    pointer-events: none;
}

nav.close .menu-items .link:hover a::after {
    background-color: transparent;
    pointer-events: none;
}

.menu-items .link a i {
    font-size: 24px;
    min-width: 35px;
    height: 100%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.menu-items .link a .link-name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    color: var(--text-color);
}

nav.close .link a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links .link a:hover i,
.nav-links .link a:hover .link-name {
    color: var(--secondary-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

nav.close .menu-items .mode a {
    opacity: 0;
    pointer-events: none;
}

.menu-items .mode a i {
    font-size: 24px;
    margin-left: 10px;
    color: var(--text-color);
}

.menu-items .mode a .link-name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    color: var(--text-color);
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background: var(--panel-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 50%;
}

.evento {
    position: relative;
    left: 250px;
    background-color: var(--primary-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: all 0.5s ease;
}

nav.close ~ .evento {
    left: 73px;
    width: calc(100% - 73px);
}

.evento .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
}

nav.close ~ .evento .top {
    left: 73px;
    width: calc(100% - 73px);
}

.evento .top .sidebar-toggle {
    font-size: 24px;
    color: var(--text-color);
}

.evento .top .text-box {
    position: relative;
    height: 25px;
    min-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.evento .top .text-box span {
    position: absolute;
    right: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.evento .dash-content {
    padding-top: 50px;
}

nav.close .evento .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 5px 0 30px 0;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    color: var(--text-color);

}

.action-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.btn-principal {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.2s ease;
    border: none;
    cursor: pointer;
}

.btn-principal:hover {
    background-color: var(--panel-color);
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.event-card {
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--border-color);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.event-card-header {
    padding: 20px 25px;
    border-bottom: 1px solid var(--border-color);
}

.event-card-header h2 {
    font-size: 1.3em;
    color: var(--text-color);
    margin-bottom: 5px;
}

.event-card-header .date {
    font-size: 1em;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

.event-card-header .date i {
    font-size: 24px;
    color: var(--text-color);
}

.event-card-body {
    padding: 20px 25px;
    flex: 1;
}

.event-card-body p {
    color: var(--text-color);
    line-height: 1.5;
}

.event-card-footer {
    padding: 15px 25px;
    border-top: 1px solid var(--border-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease;
    gap: 10px;
}

.event-card-footer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.event-card-footer i {
    font-size: 1.3em;
    vertical-align: middle;
}

.event-card-footer .btn-edit {
    color: var(--btn1-color);
}

.event-card-footer .btn-edit:hover {
    background-color: var(--btn1-hover-color);
}

.event-card-footer .btn-delete {
    color: var(--btn2-color);
}

.event-card-footer .btn-delete:hover {
    background-color: var(--btn2-hover-color);
}

.event-card-footer .btn-inscritos {
    color: var(--btn3-color);
}

.event-card-footer .btn-inscritos:hover {
    background-color: var(--btn3-hover-color);
}